boto3==1.34.19
botocore==1.34.19
colorama==0.4.4
distlib==0.3.8
dnspython==2.4.2
docutils==0.16
filelock==3.13.1
jmespath==1.0.1
load-dotenv==0.1.0
platformdirs==4.1.0
pyasn1==0.5.1
pymongo==4.6.1
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0.1
rsa==4.7.2
s3transfer==0.10.0
six==1.16.0
urllib3==2.0.7
