[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-dotenv = "*"
psycopg2 = "*"
sqlalchemy-utils = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
